:root {
  /* Colores */

  --fondo: #ffffff;
  --azul-vibrante: #002fa7;
  --azul-texto: #102a6b;
  --lineas: rgba(0, 47, 167, 0.2);
  --filtro: rgba(0, 47, 167, 0.45);

  /* Tipografías */

  --fuente-titulos: "Poltawski Nowy", serif;
  --fuente-cuerpo: "Urbanist", sans-serif;
}
