/* Navbar */
.cabecera-principal {
  z-index: 10;
  background-color: var(--fondo);
}

.cabecera-principal1 {
  z-index: 10;
}

.logo {
  width: 85px;
  height: 85px;
  object-fit: contain;
}

.enlace-nav {
  font-family: var(--fuente-cuerpo);
  font-weight: 600;
  color: var(--azul-vibrante);
  text-decoration: none;
  font-size: 0.85rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.cabecera-adaptativa .enlace-nav {
  color: var(--fondo);
}

/* Botón Hamburguesa */
.cabecera-principal .navbar-toggler {
  border: none;
  padding: 0;
  background: transparent;
}

.cabecera-principal .navbar-toggler:focus,
.cabecera-principal .navbar-toggler:active {
  box-shadow: none;
  outline: none;
}

.cabecera-principal .navbar-toggler-icon {
  width: 1.5rem;
  height: 1.5rem;
}

/* Responsive en ordenadores y tablet */
@media (min-width: 768px) {
  .cabecera-adaptativa .enlace-nav {
    color: var(--azul-vibrante);
  }
}

/* Responsive en móviles */
@media (max-width: 767px) {
  .logo {
    width: 60px;
    height: 60px;
  }

  .cabecera-principal .navbar-collapse {
    background-color: var(--fondo);
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1.5rem 2rem 2.5rem 2rem;
    border-bottom: 1px solid var(--lineas);
    z-index: 999;
  }

  .cabecera-principal .navegacion-minima .enlace-nav {
    display: block;
    padding: 0.8rem 0;
    margin: 0;
    font-size: 1.1rem;
    border-bottom: var(--lineas);
  }

  .cabecera-principal .navegacion-minima .enlace-nav:last-child {
    border-bottom: none;
  }
}
